<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :email %> <br>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :country %> <br>
    <%= f.text_field :country %>
  </div>
  
  <div class="field">
    <%= f.label :bio %> <br>
    <%= f.text_area :bio %>
  </div>
  
  <div class="field">
    <%= f.label :website %> <br>
    <%= f.text_field :website %>
  </div>
  
  <div class="field">
    <%= f.label :twitter %> <br>
    <%= f.text_field :twitter %>
  </div>

  <div class="field">
    <%= f.label :profile_pic %><br>
    <%= f.file_field :profile_pic %>
    <p><%= f.label "or use a URL" %></p> 
    <p><%= f.text_field :remote_profile_pic_url %></p> 
  </div>

<div class="actions">
    <%= f.submit %>
</div>
<% end %>



