<div class="user-info">
  <h1><%= @user.name %></h1>
  <%= image_tag @user.profile_pic.show.url, class: "profile-show" %>
  <ul>
    <li><%= mail_to @user.email, image_tag("email.png", class: 'icon') %></li>
    <li><%= link_to image_tag("twitter.png", class: 'icon'), "http://www.twitter.com/#{@user.twitter}" %></li>
    <li><%= link_to image_tag("website.png", class: 'icon'), "http://#{@user.website}" %></li>
  </ul>
  <p>Bio</p>
  <p><%= @user.bio %></p>
</div>


  <% if @user.id == current_user.id %>
<div class="song-form">
  <%= link_to 'Edit Profile', edit_user_path(@user) %> / <%= link_to 'Delete Profile', user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>
  <%= render 'songs/form' %>
  <% end %>
</div>

  <% @user.songs.each do |song| %>
<div class="song">
      <h3><%= song.name %> <%= song.created_at.strftime("%H:%M / %d %b. %Y") %></h3>
      <%= audio_tag song.file, controls: true %>
      <% if can? :manage, song %>
        <%= link_to 'Delete', song_path(song), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>

      <% if song.comments.any? %> 
   <% song.comments.each do |comment| %>
     <table class="comment">
       <tr>
         <th><%= link_to comment.user.name, user_path(comment.user) %></th>
         <th class="dateline"><%= comment.created_at.strftime("%H:%M / %d %b. %Y") %> <% if can? :manage, comment %>
             <%= link_to 'Delete', comment_path(comment), class: "song-delete", method: :delete, data: { confirm: "Are you sure?" } %>
             <% end %>
         </th>
       </tr>
       <tr>
         <td><%= image_tag(comment.user.profile_pic.thumb.url, class: "comment-image") %></td>
         <td><%= comment.content %></td>
       </tr>
     </table>
    <% end %>
<% end %>


    <div class="add-comment">
      <%= form_for Comment.new do |f| %>
        <div class="comment-field">
         <%= f.label "Have Your Say" %> <br>
         <%= f.text_area :content, size: "120x5" %>
        </div> 
        <div class="field">
          <%= f.hidden_field :user_id, value: current_user.id %>
        </div>
        <div class="field">
         <%= f.hidden_field :song_id, value: song.id %>
        </div>
        <div class="actions" id="song-delete">
          <%= f.submit  %>
        </div>
      <% end %>
    </div>
</div>
  <% end %>



<table class="user-comments">
<h3 class="user-comment-title" ><%= @user.name %>'s Comments </h3>
<% @user.comments.each do |comment| %>
       <tr>
         <th><%= comment.song.name %></th>
         <th> <%= comment.created_at.strftime("%H:%M / %d %b. %Y") %></th>
       </tr>
       <tr>
         <td><%= link_to image_tag(comment.song.user.profile_pic.thumb.url, class: "comment-image"), user_path(comment.song.user) %></td>
         <td><%= comment.content %></td>
       </tr>
  <% end %>
</table>
