<div class="add-song">
 
  <%= form_for Song.new do |f| %>
  <ul>
    <li>Upload New Song</li>
    <li class="field">
        <%= f.label :name %> 
        <%= f.text_field :name %>
    </li>
    
    <li class="field">
      <%= f.label :file %>
      <%= f.file_field :file %>
    </li>
    
     <li class="field">
       <%= f.hidden_field :user_id, value: current_user.id %>
      </li>


    <li class="actions">
      <%= f.submit %>
    </li>
  </ul>
   <% end %>
</div>